# IntelliJ IDEA
.idea/
*.iml
out/

# Maven target folder
target/

# Tomcat files
*.log
*.class
webapp/WEB-INF/classes/
webapp/WEB-INF/lib/

# Arquivos de dependências que podem ser regenerados
.mvn/
dependency-reduced-pom.xml

# Arquivos de configuração locais
*.db
*.sql~
*.swp

# Eclipse
.project
.classpath
.settings/

# Outros arquivos temporários
*.log
*.tmp

# Ignorar arquivos específicos de banco de dados (se houver)
*.sqlite
*.db

